#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath --disable-ewl --host=$(DEB_HOST_GNU_TYPE)
DEB_MAKE_CLEAN_TARGET := clean
DEB_DH_STRIP_ARGS := --dbg-package=libedjvu0-dbg

clean::
	./autogen.sh --prefix=/usr $(DEB_CONFIGURE_EXTRA_FLAGS)
